<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML_Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <table class="table table-bordered">
        <tr class="table_h">
            {% for header in heading %}
            <th class="table_c">{{header}}</th>
            {% endfor %}
        </tr class=table_r>
        {% for users in users %}
        <tr class="table_r">
            <td class="table_c">{{ users['first_name'] }}</td>     
            <td class="table_c">{{ users['last_name'] }}</td>     
            <td class="table_c">{{ users['first_name'] }} {{ users['last_name'] }} </td>     
        </tr>      
        {% endfor %}
    </table>


</body>
</html>